<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!!!</title>
    <link rel="stylesheet" href="/views/style.css" />
</head>
<body>
    <section class="success-container">
        <div class="logo-container">
            <img src="/views/logo.jpg" alt="karkhana" class="logo"/>
        </div>
        <h2 class="password-reset-heading">Password Updated!</h2>
        <h3 class="success-header-h3">You can now login with your new password</h3>
        <a href="https://karkhana.onrender.com/login" class="submit-btn">Login</a>
    </section>
</body>
</html>